/* This file contains the banner's CSS properties */

.banner {
    text-align: center;
    background-color: $background-color-primary;
    padding: 40px 10px;
    &__title {
        margin-top: 0;
        padding: 0 30px;
    }
    &__button {
        background: linear-gradient($color-secondary, $color-primary);
        height: 55px;
        width: 62%;
        border: none;
        border-radius: 30px;
        box-shadow: $shadow-primary;
        margin: 10px 0;
        &:hover {
            opacity: .9;
            box-shadow: $shadow-primary-hover;
            cursor: pointer;
        }
        @include tablet-only {
            width: 300px;
        }
        @include desktop-only {
            width: 350px;
        }
    }
}