.banner {
    text-align: center;
    background-color: $background-color-primary;
    padding: 40px 10px;
    &__title {
        margin-top: 0;
        padding: 0 30px;
    }
    &__button {
        background: linear-gradient($color-secondary, $color-primary);
        height: 55px;
        width: 62%;
        border: none;
        border-radius: 30px;
        box-shadow: 0px 3px 13px 0px rgba(0,0,0,0.45);
        margin: 10px 0;
    }
}