.footer, .page__footer {
    height: 200px;
    background-color: $background-color-secondary;
    & h4 {
        font-family: Shrikhand;
        font-size: 18px;
        color: white;
        margin: 0;
        padding: 25px 0 20px 25px;
    }
    & ul {
        padding-left: 25px;
        margin: 0;
        & li {
            padding-bottom: 10px;
            position: relative;
            .staggered {
                color: white;
                font-size: 16px;
                position: relative;
                left: 30px;
                i {
                    font-size: 14px;
                    position: absolute;
                    left: -30px;
                }
            }
            .unstaggered {
                color: white;
                font-size: 16px;
            }
        }
    }
}

.page__footer {
     position: relative;
     bottom: 0;
     width: 100%;
}