/* This file contains the footer's CSS properties */

.footer-wrapper {
    background-color: $background-color-secondary;
    height: 200px;
    @include desktop-only {
        height: 70px;
    }
}

.footer, .page__footer {
    @include desktop-only {
        display: flex;
        justify-content: space-around;
    }
    & h4 {
        font-family: Shrikhand;
        font-size: 18px;
        color: white;
        margin: 0;
        padding: 25px 0 20px 25px;
        @include desktop-only {
            padding: 22px 0 0 75px;
        }
    }
    & ul {
        padding-left: 25px;
        margin: 0;
        @include desktop-only {
            display: flex;
        }
        & li {
            padding-bottom: 10px;
            position: relative;
            &:hover {
                text-decoration: underline;
            }
            @include desktop-only {
                margin-right: 75px;
                padding-top: 22px;
            }
            .staggered {
                color: white;
                font-size: 16px;
                position: relative;
                left: 30px;
                i {
                    font-size: 14px;
                    position: absolute;
                    left: -30px;
                }
            }
            .unstaggered {
                color: white;
                font-size: 16px;
            }
        }
    }
}

.page__footer {
     position: relative;
     bottom: 0;
     width: 100%;
}