.search-form {
    height: 50px;
    background-color: #EAEAEA;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: $shadow-secondary;
    position: relative;
    &__icon {
        font-size: 17px;
        position: relative;
        bottom: 3px;
        left: 8px;
    }
    &__input {
        background: none;
        border: none;
        text-align: center;
    }
}