.header, .page-header {
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    position: relative;
    &__return {
        position: absolute;
        left: 20px;
            &:hover {
                cursor: pointer;
            }
            i {
                font-size: 20px;
            }
        }
    &__img {
        height: 30px;
    }
}


