.page-wrapper { 
    position: relative;
   .menus {
        position: relative;
        &__img-container {
            height: 200px;
        }
        &__img {
            width: 100%;
        }
        &__container {
            width: 100%;
            padding-top: 20px;
            position: relative;
            background-color: $background-color-primary;
            border-radius: 40px 40px 0 0;
            z-index: 40;
            &__header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 0 30px 0 15px;
                @include tablet-only {
                    max-width: 600px;
                    margin: 0 auto;
                    padding-bottom: 20px;
                }
                @include desktop-only {
                    max-width: 900px;
                    margin: 40px auto;
                }
                h1 {
                    font-family: Shrikhand;
                    font-size: 28px;
                }
                i {
                    font-size: 30px;
                    background-image: white;
                    transition: all 800ms ease-in-out;
                    &:hover {
                        font-weight: 600;
                        background-position: top;
                        background-image: linear-gradient($color-primary, $color-secondary);
                        background-clip: text;
                        -webkit-background-clip: text;
                        color: transparent;
                        cursor: pointer;
                    }
                }
            }
            &__section {
                padding-bottom: 30px;
                @include tablet-only {
                max-width: 600px;
                margin: 0 auto;
                padding-bottom: 20px;
                }
                @include desktop-only {
                    max-width: 900px;
                    margin: 40px auto;
                    display: flex;
                    flex-direction: column;
                }
                h2 {
                    text-transform: uppercase;
                    font-size: 17px;
                    font-weight: 200;
                    margin-left: 15px;
                    margin-bottom: 5px;
                }
                .underline {
                    height: 3px;
                    margin-left: 15px;
                    width: 42px;
                    background-color: $color-tertiary;
                    margin-bottom: 15px;
                }
                &__card {
                    background-color: white;
                    display: flex;
                    height: 70px;
                    margin: 0 15px;
                    margin-bottom: 10px;
                    box-shadow: $shadow-primary;
                    border-radius: 15px;
                    position: relative;
                    overflow: hidden;
                    @include desktop-only {
                        width: 46%;
                    }
                    &-container {
                        @include desktop-only {
                            display: flex;
                            justify-content: space-between;
                            flex-wrap: wrap;
                        }
                    }
                    &__text {
                        overflow: hidden;
                        h3 {
                            margin-top: 13px;
                            margin-bottom: 6px;
                            font-size: 17px;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            word-break: break-all;
                            white-space: nowrap;
                        }
                        p {
                            margin: 0;
                            font-size: 15px;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            word-break: break-all;
                            white-space: nowrap;
                        }
                        &__container {
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            padding: 0 15px 0 15px;
                            transition: all 800ms ease-in-out;
                        }
                    }
                    &__price {
                        margin: 0;
                        margin-bottom: 12px;
                        font-size: 16px;
                        align-self: flex-end;
                    }
                    &__hover {
                        width: 70px;
                        margin-right: -70px;
                        height: 100%;
                        background-color: $color-tertiary;
                        display: flex;
                        justify-content: center;
                        border-radius: 0 15px 15px 0;
                        transition: all 600ms ease-in-out;
                        &--image {
                            align-self: center;
                            color: white;
                            font-size: 25px;
                            transform: rotate(90deg);
                            transition: transform 800ms ease-in-out;
                        }
                    }  
                    &:hover {
                        cursor: pointer;
                    }
                    &:hover .menus__container__section__card__hover{
                        margin-right: 0;
                    }
                    &:hover .menus__container__section__card__text__container {
                        width: calc(100% - 70px);
                    }
                    &:hover .menus__container__section__card__hover--image {
                        transform: rotate(360deg);
                    }
                }

            }
            &__button {
                display: flex;
                justify-content: center;
                padding-bottom: 30px;
                .banner__button {
                    width: 50%;
                    @include tablet-only {
                        width: 300px;
                    }
                    @include desktop-only {
                        width: 350px;
                    }
                }
            }
        }
    }
}