.page-wrapper { 
    position: relative;
   .menus {
        position: relative;
        &__img-container {
            height: 200px;
        }
        &__img {
            width: 100%;
        }
        &__container {
            width: 100%;
            padding-top: 20px;
            position: relative;
            background-color: $background-color-primary;
            border-radius: 40px 40px 0 0;
            z-index: 40;
            &__header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 0 30px 0 15px;
                h1 {
                    font-family: Shrikhand;
                    font-size: 28px;
                }
                i {
                    font-size: 30px;
                    &:hover {
                        font-weight: 600;
                        background: linear-gradient($color-primary, $color-secondary);
                        background-clip: text;
                        -webkit-background-clip: text;
                        color: transparent;
                    }
                }
            }
            &__section {
                padding-bottom: 30px;
                h2 {
                    text-transform: uppercase;
                    font-size: 17px;
                    font-weight: 200;
                    margin-left: 15px;
                    margin-bottom: 5px;
                }
                .underline {
                    height: 3px;
                    margin-left: 15px;
                    width: 42px;
                    background-color: $color-tertiary;
                    margin-bottom: 15px;
                }
                &__card {
                    background-color: white;
                    display: flex;
                    height: 70px;
                    padding: 0 15px 0 15px;
                    margin: 0 15px;
                    margin-bottom: 10px;
                    box-shadow: $shadow-primary;
                    border-radius: 15px;
                    position: relative;
                    overflow: hidden;
                    &__text {
                        overflow: hidden;
                        h3 {
                            margin-top: 13px;
                            margin-bottom: 6px;
                            font-size: 17px;
                            
                        }
                        p {
                            margin: 0;
                            font-size: 15px;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            word-break: break-all;
                            white-space: nowrap;
                        }
                        &__container {
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            display: hidden;
                        }
                    }
                    &__price {
                        margin: 0;
                        margin-bottom: 12px;
                        font-size: 16px;
                        align-self: flex-end;
                    }
                    &__hover {
                        align-self: center;
                        color: white;
                        font-size: 25px;
                        transform: rotate(90deg);
                        transition: transform 800ms ease-in-out;
                        &__container {
                            width: 0px;
                            height: 100%;
                            right: -85px;
                            background-color: $color-tertiary;
                            display: flex;
                            justify-content: center;
                            border-radius: 0 15px 15px 0;
                            transform-origin: right;
                            transition: all 800ms ease-in-out;
                            position: relative;
                        }
                    }
                    &:hover {
                        cursor: pointer;
                    }
                    &:hover .menus__container__section__card__hover {
                        transform: rotate(360deg);
                    }
                    &:hover .menus__container__section__card__hover__container {
                        right: -15px;
                        width: 70px;
                    }
                }

            }
            &__button {
                display: flex;
                justify-content: center;
                padding-bottom: 30px;
                .banner__button {
                    width: 50%;
                    @media screen and (min-width: 767px) and (max-width: 1024px) {
                        width: 300px;
                    }
                    @media screen and (min-width: 1024px) {
                        width: 350px;
                    }
                }
            }
        }
    }
}