/* This file contains the restaurants' page animation */

/* Animation variables */
$number-of-sections: 3;
$animation-duration: 800ms;
$animation-delay: calc($animation-duration / $number-of-sections);


/* This is the "cascade fade" animation */
@keyframes show-and-translate-content {
    from {
        opacity: 0;
        transform: translateY(25px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* This portion of code has a for loop, which goes through
elements with the class "menu__container__section__i",
where i = 1, 2 or 3 and delays the animation-delay property */
.menus__container {
    &__section {
        animation: show-and-translate-content $animation-duration backwards;
        @for $i from 1 through $number-of-sections {
            &--#{$i} {
                animation-delay: $animation-delay * $i;
            }
        }
    }
}