$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$color-loader: #b2b2b2;

$background-color-primary: #f8f8f8;
$background-color-secondary: #313131;

$shadow-primary: 0px 3px 8px 0px rgba(0,0,0,0.25);
$shadow-primary-hover: 0px 3px 8px 0px rgba(0,0,0,0.45);
$shadow-secondary: 0px 30px 17px -36px rgba(0,0,0,0.75) inset;